body {
  background-color: #f0ebf8;
  display: flex;
  justify-content: center;
  font-family: 'docs-Roboto', sans-serif;
  background-size: cover;
  background-position: center;
  font-size: 14px;
  width: 100%;
}

.content {
  width: 100%;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (max-width: 670px) {
  .content {
    max-width: 400px;
  }
  .container {
    .img-head {
      height: 110px !important;
    }
    .content-text {
      h1 {
        line-height: initial;
      }
    }
    .content-input {
      width: 352px !important;
    }
  }
}

@media (max-width: 400px) {
  .content {
    max-width: 320px;
  }
  .container {
    .img-head {
      height: 80px !important;
      background-size: contain !important;
    }
    .content-text {
      h1 {
        line-height: initial;
      }
    }
    .content-input {
      width: 272px !important;
    }
  }
}

.error {
  border: 1px solid rgb(217, 48, 37) !important;
  .inputForm {
    border-bottom: 1.5px solid rgb(217, 48, 37) !important;
  }
}

.red-text {
  color: rgb(217, 48, 37);
}

.container {
  .img-head {
    height: 160px;
    background-image: url(https://lh5.googleusercontent.com/rbf2BiY7LPQRw1wTmpnD5Jn2nOopRSbh4-hXFr91TMs6rGwgXR6k_ftwBrkQHQdasF535X7fFawVGKPS7Dly9Wko9uRjNfL7rmD2ogjbtAtykmbhfIz1e0dCYrGQDiyZkA=w1916);
    background-size: cover;
    background-position: center;
    border: 1px solid rgb(218, 220, 224);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content-text {
    padding: 22px 24px 16px 24px;
    background-color: #fff;
    border: 1px solid rgb(218, 220, 224);
    border-radius: 8px;
    line-height: 20px;
    position: relative;
    .head-field {
      height: 10px;
      background-color: rgb(58, 25, 250);
      width: 100%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      position: absolute;
      left: 0px;
      top: 0px;
    }
    h1 {
      padding-top: 10px;
      font-weight: 400;
      margin: 0;
      font-size: 32px;
    }
  }
  .content-input {
    gap: 0px;
    background-color: #fff;
    border: 1px solid rgb(218, 220, 224);
    border-radius: 8px;
    padding: 24px;
    width: 592px;
    .colored-text {
      color: rgb(217, 48, 37);
    }
    .labelInput {
      display: block;
      margin-bottom: 20px;
      font-weight: 400;
      line-height: 24px;
      font-size: 16px;
    }

    .inputForm {
      padding: 0px;
      margin-top: 10px;
      margin-bottom: 8px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-weight: 400;
      line-height: 20px;
      color: rgb(32, 33, 36);
      flex-shrink: 1;
      background-color: transparent;
      border-width: 0;
      border-radius: 0;
      display: block;
      height: 24px;
      width: 250px;
      border-bottom: 1px solid rgb(218, 220, 224);
      transition: 0.6s all;
    }

    .inputForm:focus {
      outline: none;
      border-bottom: 1.5px solid rgb(58, 25, 250);
      transition: 0.6s all;
    }
    .error-message {
      display: flex;
      align-items: center;
      margin-top: 8px;
      font-size: 12px;
      font-weight: 400;
      line-height: 24px;
      svg {
        margin-right: 12px;
      }
    }
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .button-form {
      font-family: 'Google Sans', Arial, sans-serif;
      display: flex;
      align-items: center;
      font-weight: 500;
      line-height: 36px;
      cursor: pointer;
      border: 0;
      border-radius: 4px;
    }
    #send {
      padding: 0 25px;
      background: #1a73e8;
      color: #fff;
    }
    #send:hover {
      box-shadow: 0px 1px 0px 0px rgba(26, 26, 255, 0.2);
    }
    #clear {
      padding: 0px 8px;
      color: rgb(58, 25, 250);
      background-color: transparent;
    }
    #clear:hover {
      background-color: #efe3ff;
    }
  }
  .warning {
    color: rgba(0, 0, 0, 0.66);
    font-size: 12px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    .footer-item {
      text-align: center;

      padding: 0 16px;
      color: rgba(0, 0, 0, 0.66);
      font-size: 12px;

      .footer-link {
        color: rgba(0, 0, 0, 0.66);
      }
    }
    .footer-img {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin-top: 16px;
      opacity: 0.55;
      img {
        height: 24px;
        width: 77px;
      }
      .img-title {
        color: black;
        font-family: 'Product Sans', Arial, Helvetica, sans-serif;
        font-size: 23px;
      }
    }
  }
}
