body {
  background-color: #f0ebf8;
  display: flex;
  justify-content: center;
  font-family: "docs-Roboto", sans-serif;
  background-size: cover;
  background-position: center;
  font-size: 14px;
  width: 100%;
}

.content {
  width: 100%;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (max-width: 670px) {
  .content {
    max-width: 400px;
  }
  .container .img-head {
    height: 110px !important;
  }
  .container .content-text h1 {
    line-height: initial;
  }
  .container .content-input {
    width: 352px !important;
  }
}
@media (max-width: 400px) {
  .content {
    max-width: 320px;
  }
  .container .img-head {
    height: 80px !important;
    background-size: contain !important;
  }
  .container .content-text h1 {
    line-height: initial;
  }
  .container .content-input {
    width: 272px !important;
  }
}
.error {
  border: 1px solid rgb(217, 48, 37) !important;
}
.error .inputForm {
  border-bottom: 1.5px solid rgb(217, 48, 37) !important;
}

.red-text {
  color: rgb(217, 48, 37);
}

.button-form {
  font-family: "Google Sans", Arial, sans-serif;
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 36px;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
}

.container .img-head {
  height: 160px;
  background-image: url(https://lh5.googleusercontent.com/rbf2BiY7LPQRw1wTmpnD5Jn2nOopRSbh4-hXFr91TMs6rGwgXR6k_ftwBrkQHQdasF535X7fFawVGKPS7Dly9Wko9uRjNfL7rmD2ogjbtAtykmbhfIz1e0dCYrGQDiyZkA=w1916);
  background-size: cover;
  background-position: center;
  border: 1px solid rgb(218, 220, 224);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .content-text {
  padding: 22px 24px 16px 24px;
  background-color: #fff;
  border: 1px solid rgb(218, 220, 224);
  border-radius: 8px;
  line-height: 20px;
  position: relative;
}
.container .content-text .head-field {
  height: 10px;
  background-color: rgb(58, 25, 250);
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.container .content-text h1 {
  padding-top: 10px;
  font-weight: 400;
  margin: 0;
  font-size: 32px;
}
.container .content-input {
  gap: 0px;
  background-color: #fff;
  border: 1px solid rgb(218, 220, 224);
  border-radius: 8px;
  padding: 24px;
  width: 592px;
}
.container .content-input .colored-text {
  color: rgb(217, 48, 37);
}
.container .content-input .labelInput {
  display: block;
  margin-bottom: 20px;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
}
.container .content-input .inputForm {
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(32, 33, 36);
  flex-shrink: 1;
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  display: block;
  height: 24px;
  width: 250px;
  border-bottom: 1px solid rgb(218, 220, 224);
  transition: 0.6s all;
}
.container .content-input .inputForm:focus {
  outline: none;
  border-bottom: 1.5px solid rgb(58, 25, 250);
  transition: 0.6s all;
}
.container .content-input .error-message {
  display: flex;
  align-items: center;
  margin-top: 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
.container .content-input .error-message svg {
  margin-right: 12px;
}
.container .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .buttons #send {
  padding: 0 25px;
  background: #1a73e8;
  color: #fff;
}
.container .buttons #send:hover {
  box-shadow: 0px 1px 0px 0px rgba(26, 26, 255, 0.2);
}
.container .buttons #clear {
  padding: 0px 8px;
  color: rgb(58, 25, 250);
  background-color: transparent;
}
.container .buttons #clear:hover {
  background-color: #efe3ff;
}
.container .warning {
  color: rgba(0, 0, 0, 0.66);
  font-size: 12px;
}
.container .footer {
  display: flex;
  flex-direction: column;
}
.container .footer .footer-item {
  text-align: center;
  padding: 0 16px;
  color: rgba(0, 0, 0, 0.66);
  font-size: 12px;
}
.container .footer .footer-item .footer-link {
  color: rgba(0, 0, 0, 0.66);
}
.container .footer .footer-img {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 16px;
  opacity: 0.55;
}
.container .footer .footer-img img {
  height: 24px;
  width: 77px;
}
.container .footer .footer-img .img-title {
  color: black;
  font-family: "Product Sans", Arial, Helvetica, sans-serif;
  font-size: 23px;
}
.container .popup-overlay {
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  color: rgb(32, 33, 36);
  display: flex;
  border-radius: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}
.container .popup-overlay .popup-content {
  max-width: 384px;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.3), 0 4px 8px 3px rgba(60, 64, 67, 0.15);
}
.container .popup-overlay .popup-content .popup-title {
  font-size: 22px;
  font-weight: 550;
  line-height: 24px;
  letter-spacing: 0.1px;
  margin: 18px 24px 16px 24px;
}
.container .popup-overlay .popup-content .popup-text {
  font-size: 16px;
  padding-top: 4px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 20px;
  padding: 0 24px;
}
.container .popup-overlay .popup-content .popup-buttons {
  display: flex;
  justify-content: flex-end;
  padding: 16px 8px 8px 24px;
}
.container .popup-overlay .popup-content .popup-buttons .button-form {
  display: inline-block;
  color: #5f6368;
  font-size: 14px;
  padding: 0 8px;
  background-color: transparent;
  font-weight: 500;
}
.container .popup-overlay .popup-content .popup-buttons .button-form:hover {
  background-color: #f3f3f3;
}
.container .popup-overlay .popup-content .popup-buttons .button-form:active {
  background-color: #d5d5d5;
}/*# sourceMappingURL=style.css.map */